################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lista_siti.txt
/.vs/config
/web.config
*.suo