body 
{
    padding:0;
    margin:0;
    font-size:14px;
    font-family:'Rokkitt', serif;
    color:#1f2a3b;
    background-color:#181818;
}

@-ms-viewport 
{
  width:device-width;
}

.clear-after:after
{
    content: '.';
    display:block;
    height:0;
    overflow:hidden;
    clear:both;
}

a img
{
    border:0;
}

h1, h2, h3, h4, h5, h6, p
{
    padding:0;
    margin:0;
}

ul
{
    padding:0;
    margin:0;
    list-style-type:none;
}

h1
{
    color:#444;
    font-size:30px;
}

a:link,
a:visited
{
    color:#000000;
	outline:none;
	text-decoration:none;
}

#master
{
    width:900px;
    position:relative;
    margin:30px auto;
    background-color:#f3f3f3;
}

.centratore
{
	width:1000px;
	position:relative;
	margin:auto;
}

.table-alignator-wrapper
{
    display:table;
    height:100%;
    position:relative;
    width:100%;
}

.table-alignator-wrapper .table-alignator
{
    display:table-cell;
    vertical-align:middle;
}

@keyframes animateHeader {
    0% 
    {
        opacity:0;
    }
    100% 
    {
        opacity:1;
    }
}

#header
{
    border-bottom:2px solid #1f2a3b;
    height:210px;
    animation-name:animateHeader;
    animation-iteration-count:1;
    animation-timing-function:linear;
    animation-duration:0.6s;
}

#photo
{
    width:150px;
    height:150px;
    position:relative;
    overflow:hidden;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    margin:30px 0 0 30px;
    float:left;
    -webkit-border-top-right-radius:50px;
    -webkit-border-bottom-left-radius:50px;
    -moz-border-radius-topright:50px;
    -moz-border-radius-bottomleft:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
}

#nome
{
    width:400px;
    height:100%;
    padding-left:44px;
    font-size:36px;
    line-height:30px;
    font-weight:700;
}

#nome span
{
    font-size:24px;
    font-weight:300;
    line-height:20px;
}

#contacts
{
    position:absolute;
    top:72px;
    right:40px;
}

#contacts a
{
    display:inline-block;
    height:60px;
}

#contacts a img
{
    height:100%;
}

@keyframes animateContent {
    0% 
    {
        top:350px;
    }
    100% 
    {
        top:0px;
    }
}

#content-wrapper
{
    position:relative;
    overflow:hidden;
}

#content
{
    min-height:1000px;
    padding:0 36px;
    position:relative;
    left:auto;
    animation-name:animateContent;
    animation-iteration-count:1;
    animation-timing-function:cubic-bezier(0.025, 0.995, 0.520, 0.975);
    animation-duration:0.8s;
}

#content .item
{
    padding:30px 0 20px 0;
    margin-bottom:10px;
    border-bottom:1px solid #1f2a3b;
}

#content .item:last-child
{
    border:none;
}

#content .item .titolo
{
    background-color:#454a51;
    padding:0 36px;
    line-height:48px;
    color:#ffffff;
    font-size:23px;
}

#content .item .descrizione
{
    margin-left:240px;
    color:#1f2a3b;
    font-size:20px;
    line-height:22px;
    font-weight:300;
    margin-top:20px;
}

#content .item .descrizione h2
{
    font-weight:600;
    font-size:23px;
    line-height:26px;
}

#content .item .descrizione .data
{
    font-size:15px;
    margin-bottom:6px;
    display:inline-block;
    font-style:italic;
}

#content .item.portfolio .descrizione a
{
    font-size:20px;
    font-style:italic;
    line-height:24px;
    display:inline-block;
    margin-bottom:20px;

}

#content .item.portfolio .descrizione a:hover
{
    text-decoration:underline;
}